{% extends 'myapp/base.html' %}

{% load static %}
{% block body %}
    <div class="flex justify-center     " >
            <form method="post" action="{% url 'login' %}" class="shadow-3xl border mt-4 shadow-green-100 bg-green-300 rounded-lg p-3">
                {% csrf_token %}
              
               <span class="text-3xl flex mx-3"><img src="{% static 'images/uses/edit.png' %}" class="w-10" alt="">Edit Group</span>
               {% if messages %}
               <ul class="messages bg-white px-3 py-2 rounded my-1" >
                   {% for message in messages %}
                   {% if message.tags  %}
                        <li class=" text-{{ message.tags }}" >{{ message }}</li>
                   {% endif %}
                   {% endfor %}
               </ul>
               {% endif %}
                
                <div class="my-4 mx-3  flex flex-wrap ">
                    <span class="text-2xl font-semibold">{{group.groupName.capitalize}}
                    </span>
                </div>
                
                <div class="px-3 w-full ">
                    <div class="flex gap-4 my-2">
                        <span   class="space-x-2 text-xl">Members</label>
                        <span class="text-3xl text-blue-500 "><button class="cursor-pointer" type="button"  onclick="add_member_form()" >+</button></span>
                    </div>
                    
                    <div class="hidden flex  my-1" id="add-member-form">
                        <div class="add-member rounded-l-lg bg-zinc-700 text-white font-bold text-md p-2">Add Member</div>
                        <div class=" overflow-y-auto bg-zinc-500 text-white w-full p-1 rounded-r-lg max-h-[63px]">

                                {% for person in persons %}
                                    {% if person not in members %}
                                    <a class="w-full " href="{% url 'add_member_group' group.id person.user.id  %}">{{person}}</a>
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>

                    
                    <ul class="bg-white w-full rounded-lg p-3">
                        <hr>
                        {% for member in members%}
                        <li class="grid grid-cols-6 ">
                            <span class="col-span-5 py-1" id="{{member}}" >{{member.name.capitalize}}</span>
                            <a  onclick="ask('{{member}}')" class="col-span-1 "><img  src="{% static 'images/uses/remove-person.png' %}" class="w-10 cursor-pointer"></a>
                        </li>
                        <li class="w-full " id="Prompt">
                            <div id="confirmationModal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
                                <div class="bg-white p-6 rounded-lg shadow-md">
                                  <p class="mb-4" >Are you sure you want to remove this <span class="text-red-500" id="member-name"></span>?</p>
                                  <div class="flex justify-end">
                                    <button id="cancelBtn" onclick="selfReload()" class="mr-2 px-4 py-2 bg-gray-300 rounded">Cancel</button>
                                    <a id="confirmBtn" href="{% url 'remove_member_group' group.id member.user.id %}"  class="px-4 py-2 bg-red-500 text-white rounded">Remove</a>
                                  </div>
                                </div>
                              </div>
                        </li>
                        <hr>
                        {% endfor %}
                                
                    </ul>
                </div>
                
               
            </form>
        </div>
    </div>

    <script>
        function ask(param) {
           
           var span = document.getElementById('member-name');
           span.innerText = param;
           var div = document.getElementById('confirmationModal');
           div.classList.remove('hidden');
           location.stop()
        };
        function selfReload(){
            location.reload()
        }
        function add_member_form(){
            var form = document.getElementById('add-member-form')
            if  (form.classList.contains('hidden'))  
            {
                form.classList.remove('hidden');  
            }  
            else 
            {
                form.classList.add('hidden');
            }
        }
        

    </script>
{% endblock %}
<!-- {% url 'remove_member_group' group.id member.user.id %} -->