{% extends 'myapp/base.html' %}

{% load static %}
{% load filters %}
{% block body %}

    <div class="flex bg-zinc-700 min-h-screen">

        <div class="w-1/5 text-white">

            <div class="flex flex-col rounded-md  p-4 ">
                <div class="font-bold mb-2 ">
                    <span class="text-xl p-1 flex justify-center ">Members</span>
                    <hr>
                    <div class="  p-2 text-sm tracking-wide  font-normal">

                          {% for key,value in balances.items %}
                            {% if value <= 0 %}
                                <span class="py-4 capitalize">{{ key }} <span class=" text-green-400">gets back</span> <span class="get-back-amount">${{value|make_positive|floatformat:"2"}}</span> </span>
                                <span>in total</span>
                                <br>
                            {% endif %}
                          {% endfor %}

                          {% for key,value in balances.items %}
                            {% if value > 0 %}

                                <span class="py-4 capitalize">{{ key }} <span class=" text-orange-300">Owes</span> ${{value|floatformat:"2"}}</span>
                                <span>in total</span>
                                <!-- <button class="border px- py-2 rounded-lg">Settle</button> -->
                                <br>
                            {% endif %}
                          {% endfor %}
                        </div>
                </div>
            </div>
            <div class="text-white  rounded-md  p-4 ">
                <span class="flex  justify-center font-semibold">Individual Amount</span>
                <hr>
                {% for bal in User_bals %}
                <div class=" mt-2  text-sm tracking-tighter">
                    {% if bal.amount <= 0 %}
                        <span class="inline-block align-middle mb-1">You get back <span class="text-green-300" >${{bal.amount|make_positive|floatformat:"2"}}</span> from {{bal.rPerson.name.capitalize}}</span>
                    {% else %}
                        <span class="inline-block align-middle mb-1">You owe <span class="text-orange-300"  >${{bal.amount|make_positive|floatformat:"2"}}</span> to {{bal.rPerson.name.capitalize}}</span>            
                    {% endif %}
                   <br>
                        <a  href="{% url 'pay_amount' group.id %}?value={{bal.amount|make_positive}}&payer={{bal.rPerson.id}}" class="hover:bg-orange-400 w-fit block hover:text-white border border-1 border-orange-400 text-orange-400  rounded-lg text-xs px-2 py-1">Settle
                            <span class="material-icons"></span>
                        </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="w-3/5 bg-zinc-500">
            <div class="flex justify-center py-3 " style="background-image: url('../../../static/images/uses/def_bg.jpg');">
                <span class="text-3xl text-white"> {{group.groupName.capitalize}}</span>
            </div>
            {% if messages %}
            <ul class="messages bg-white   rounded " >
                {% for message in messages %}
                {% if message.tags  %}
                     <li class=" text-{{ message.tags }}-index" >
                        <span class="material-icons px-2  ">payments</span>
                        {{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}


<!-- ------------------------------------------List start here---------------------------------------------------------------- -->
            <div class="  flex justify-center items-center" id="add-group" >
               
                <div class="group my-3">
                    <a href="{% url 'add_expense' group.id %}" class=" group-hover:bg-gray-500 group-hover:border-white self-center flex px-3 py-2 border-4 border-gray-700 text-gray-700 hover " style=" border-radius: 5px;">
                        <span class="material-icons group-hover:text-white ">list_alt</span>
                        <span class="font-3xl font-bold pl-2 space-y-2 group-hover:text-white">Add Expense</span>
                    </a>
                </div>
            </div>
            {% for exp in exp_lists %}

            <div class="grid grid-cols-7   text-white p-2 bg-gray-800" >
                <div class="col-span-2" >
                    <div class="flex">
                        <img src="{% static 'images/add.png' %}"  width="50px" alt="image">
                        <span name="name_{{exp.id}}" class="inline-block  text-2xl p-2 text-orange-300">
                            <a href="{% url 'view_expense' exp.id %}">{{exp.expenseName}}</a>
                            <span class=" block text-xs text-white">{{exp.payer}} paid ${{exp.amount|floatformat:"2"}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-start-3 col-span-2 text-xs  overflow-y-auto"  id="exp-list" >
                    <!-- Add expense share -->
                     <div class=" ">

                         {% for share in expShares %}
                         {% if share.expense.id == exp.id and share.expsPerson.id != exp.payer.id  %}

                             {{share.expsPerson.name.capitalize}}{{share.count}} <span class="text-orange-600" >

                             owes

                            </span> ${{share.expsAmount | floatformat:2}}
                             <br>

                         {% endif %}

                         {% endfor %}


                     </div>
                </div>
                <div class="col-end-6 col-span-1  text-lg pt-3   flex">
                    <!-- Add options -->
                     <a href="{% url 'edit_expense' exp.id %}" ><span class="material-icons px-2  text-yellow-500" style="font-size: larger;">edit</span><span class="text-sm">Edit</span></a>
                     <a  onclick="delete_ask()" class="cursor-pointer" ><span style="font-size: larger;" class="material-icons px-2 text-red-500">delete</span><span class="text-sm">Delete</span></a>
                     <div id="confirmationModal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
                        <div class="bg-zinc-500 p-6 rounded-lg shadow-md">
                          <p class="mb-4" >Are you sure you want to remove this <span class="text-red-300" >'{{exp.expenseName}}' </span> ?</p>
                          <div class="flex justify-end">
                            <button id="cancelBtn" onclick="location.reload()" class="mr-2 px-4 py-2 bg-gray-300 rounded">Cancel</button>
                            <a id="confirmBtn" href="{% url 'delete_expense' exp.id %}"  class="px-4 py-2 bg-red-500 text-white rounded">Remove</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class=" col-end-8   tracking-tighter col-span-1  py-1">
                    <span class=" inline-block  text-2xl text-gray-200">
                        {{exp.date| date:"F"}}
                        <span class=" block text-xs text-center">{{exp.date| date:"j D"}}</span>
                    </span>
                </div>
            </div>
            <hr>
            {% endfor %}


        </div>
        <div class="w-1/5 ">
            <div>
                <canvas id="myChart"></canvas>
              </div>
        </div>
    </div>

    

{% endblock %}